#game {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  padding-top: 25px;
}

body {
  font-size: 30px;
  text-align: center;
  background: url() fixed center no-repeat;
  background-size: cover;
}


td {
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%; 
  background: grey;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}

button {
  height: 62px;
  width: 62px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%; 
  background: grey;
  margin: 1px;
  border: none;
}

#screen {
  margin-right: auto;
  margin-left: auto;
  border: none;
  height: 40px;
  width: 400px;
  background: white;
  color: black;
  padding-top: 20px;
}

img {
  height: 40px;
  width: 40px;
  padding: 4px;
}
