#game {
  height: 300px;
  width: 400px;
  padding-top: 75px;
  margin: auto;
  margin-top: 10%;
  border: solid grey 10px;
  border-radius: 5%;
}

body {
  font-size: 30px;
  text-align: center;
  background: url("https://cloud.githubusercontent.com/assets/12720744/21556733/227d92e4-cdd8-11e6-80cf-7f83d5167906.jpg") fixed center no-repeat;
  background-size: cover;
}


td {
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 40px;
  border-radius: 50%; 
  background: grey;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
  padding-top: 30px;
}

button {
 background: none;
  border: none;
}

#screen {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold; 
  font-family: 'Amatica SC';
  color: grey;
   background: none;
  width: 300px;
  height: 40px;
  border-radius: 5%;
  padding-top: 10px;
}

img {
  height: 25px;
  width: 25px;
  padding: px;
}

button:focus {
  outline:0;
}
